html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Mulish', sans-serif;
  background-image: linear-gradient(#081221, #03080f);
}

@media all and (max-width: 768px) {
  body {
    height: 150vh;
  }
}

body #selection_bubble {
  display: none;
}
